:root {
    --cor-fundo-texto: #5BC241;
}

header {
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    padding: 45px;
    align-items: center;
}

.logo img {
    width: 45px;
    height: 42px;
}

.logo p {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    padding-left: 5px;
}

.menu-principal, .menu-principal a {
    margin: 59px 5px;
}

.menu-principal a {
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    padding: 10px;
}

.menu-principal a:hover {
    color: #ffffff;
    background-color: var(--cor-fundo-texto);
}

.cadastro {
    background-color: var(--cor-fundo-texto);
    width: 127px;
    height: 39px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-weight: 300;
    margin: 49px 50px 0 0;
}

.menu, .menu-principal {
    display: flex;
}